
  body {
    background-image: url("kids.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
    font-family: Arial, sans-serif;
  }


.container {
  margin: auto;
  max-width: 480px;
  padding: 20px;
}

h1 {
  margin: 0;
  text-align: center;
}

form {
  background-color: #fff;
  border-radius: 5px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
  margin-top: 180px;
  padding: 20px;
}

label {
  display: block;
  font-size: 16px;
  font-weight: bold;
  margin-bottom: 10px;
}

input[type="email"],
input[type="password"] {
  border: 1px solid #ccc;
  border-radius: 4px;
  font-size: 16px;
  padding: 7px;
  width: 100%;
}

input[type="submit"] {
  background-color: #4CAF50;
  border: none;
  border-radius: 5px;
  color: #fff;
  cursor: pointer;
  font-size: 16px;
  padding: 10px;
  width: 100%;
}

input[type="submit"]:hover {
  background-color: #3e8e41;
}

.error-message {
  color: red;
  font-size: 14px;
  margin-top: 5px;
}
.button{
  color: #3e8e41;
}